
/******* BASIC ********/

body {
 background: url("dark_green_wallpaper.png");
}

@font-face {
    font-family: 'Triforce';
    src: local('fonts/Triforce.ttf');
    format('truetype');
}

/******* NAV BAR********/

nav.navbar.navbar-default.navbar-fixed-top {
    background-color: #0d9263;
    margin-bottom: auto;
}

nav.navbar-default .navbar-nav > li > a {
    color: whitesmoke;
}
.item-container {
  margin-top: 7%
}
.patron-profile {
  margin-top: 7%;
}

nav.navbar-default .navbar-brand {
    color: white;
}

div.session {
    margin-top: 10%;
}



/******* CATEGORIES ICONS  ********/

div.thumbnail {
    border: none;
}

div.caption {
    text-align: center;
    font-family: Triforce;
}
div.caption h3 {
    color: whitesmoke;
}
div.thumbnail {
    background-color: transparent;
}

div.thumbnail img {
    width: 50%;
}

div.page-header h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Triforce;
    color: whitesmoke;
}