@font-face {
    font-family: "Triforce";
    src: url(/assets/Triforce.ttf) format("truetype");
}

//@import "font-awesome";


/******* BASIC ********/

body {
 background: url("dark_green_wallpaper.png");
 font-family: "Triforce";
}

.page-header {
  color: whitesmoke;
  padding-top: 5%;
}

.page-header h2 {
  font-size: 3em;
}
/******* NAV BAR********/

nav.navbar.navbar-default.navbar-fixed-top {
    background-color: #0d9263;
    margin-bottom: auto;
}

nav.navbar-default .navbar-nav > li > a {
    color: whitesmoke;
}
.item-container {
  margin-top: 7%
}
.patron-profile {
  margin-top: 7%;
}

nav.navbar-default .navbar-brand {
    color: white;
}

div.session {
    margin-top: 10%;
}

p.navbar-text.navbar-left {
    color: whitesmoke;
}

/******* CATEGORIES ICONS  ********/

div.thumbnail {
    border: none;
}

div.caption {
    text-align: center;
    font-family: Triforce;
}
div.caption h3 {
    color: whitesmoke;
}
div.thumbnail {
    background-color: transparent;
}

div.thumbnail img {
    width: 50%;
}

div.page-header h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Triforce;
    color: whitesmoke;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

/******* CART  ********/

div.session {
    color: whitesmoke;
}
table#cart {
    background-color: whitesmoke;
}

div.button_plus {
  width: 5%;
}


/******* USERS ACCOUNT INFORMATION (USERS SHOW PG  ********/

.patron-profile {
    color: whitesmoke;
}


/******* ITEMS INDEX PAGE  ********/

#card-list {
    font-family: arial;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .items {
        float: left;
        width: 30%;
        border: 1px solid #ccc;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: 1.75438%;
        overflow: hidden;
    &:first-child {
    margin-left: 0;
     }
    figure{
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
    img{
        width: 100%;
        height: auto;
    }
    figcaption{
        padding: 10px;
        margin: 0;
        display: block;
    }
   }
  }
 }

#card-list a{
  color: whitesmoke;
}


#card-list a:hover {
  color: #8a6d3b;
  text-decoration: none;
}
/** {*/

#card-list p {
  color: whitesmoke;
}

    /*border: 1px solid red !important;*/
/*}*/

