<div class="container">
  <div class="page-header categories">
    <h2>Categories</h2>
  </div>
</div>
<div>

  <div class="grid">
  <% @categories.each do |category| %>
      <div class="category">
        <a href="<%= category_path(category) %>">
          <div class="thumbnail">
            <img src="/assets/<%="#{category.slug}"%>_icon.png" alt="general goods icon">
            <div class="caption">
              <h3><%= category.name %></h3>
            </div>
          </div>
        </a>
      </div>
  <% end %>
  </div>
</div>


